<?xml version="1.0" encoding="utf-8" ?>
<ReportConfig xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
			  OutputFile="C:\Users\reimersj\Desktop\Report.zip">
	<Project Revision="232851"
			 Name="NewGen"
			 Tag="May 2013"
			 Date="2013-05-01T16:13:00Z">
		<Root Source="C:\Dev\Tfs\NewGen.Dev\Units" />
		<Root Source="C:\Dev\tfs\newgen.ap" />
		<Root Source="C:\Dev\tfs\newgen.aplib\units\AnalysisPackage" />
		<Root Source="C:\Dev\Tfs\NewGen.TDT\Units" />
		<Root Source="C:\Dev\Tfs\NewGen.DMCommon" />
		<Repo Source="C:\Dev\Tfs\NewGen.Dev" />
		<Repo Source="C:\Dev\tfs\newgen.ap" />
		<Repo Source="C:\Dev\tfs\newgen.aplib" />
		<Repo Source="C:\Dev\Tfs\NewGen.TDT" />
		<Repo Source="C:\Dev\Tfs\NewGen.DMCommon" />
		<TfsDefinition Definition="NB_System_Dev_ForMetrics"/>
		<TfsDefinition Definition="NB_NewGen_AS_AnalysisPackage_Dev"/>
		<TfsDefinition Definition="NB_NewGen_APLib_AnalysisPackage_Dev"/>
		<TfsDefinition Definition="NB_NewGen_AS_DMCommon_Dev"/>
		<TfsDefinition Definition="NB_NewGen_AS_TDT_Proto_Dev"/>
		<TfsDefinition Definition="NB_NewGen_AS_UCT_Dev"/>
	</Project>
	<Project Name="CommServer"
			 Tag="May 2013"
			 Date="2013-05-01T16:13:00Z">
		<TfsDefinition Definition="NB_DriverFramework_Dev"/>
	</Project>
	<Project Name="gCat"
			 Tag="May 2013"
			 Date="2013-05-01T16:13:00Z">
		<TfsDefinition Definition="NB_Safari_Safari_Dev"/>
	</Project>
	<!--<Project Revision="231197"
			 Name="NewGen Pooler"
			 Tag="May 2013">
		<Root Source="C:\Dev\Tfs\NewGen.Pooler" />
	</Project>-->
	<Project Revision="231082"
			 Name="ITCore"
			 Tag="May 2013"
			 Date="2013-05-01T16:13:00Z">
		<Root Source="C:\Dev\tfs\itcore\Units" />
		<Repo Source="C:\Dev\tfs\itcore" />
		<TfsDefinition Definition="NB_ITCore_Dev"/>
	</Project>
	<Project Revision="232962"
			 Name="C4c"
			 Tag="May 2013"
			 Date="2013-05-01T16:13:00Z">
		<Repo Source="C:\Dev\tfs\C4c.Main" />
		<Root Source="C:\Dev\tfs\C4c.Main\Units" />
		<TfsDefinition Definition="NB_C4C_SystemSoftware_Main"/>
	</Project>
	<Project Revision="216601"
			 Name="C4K"
			 Tag="May 2013"
			 Date="2013-05-01T16:13:00Z">
		<Root Source="C:\Dev\Tfs\C4k.Main\Units" />
		<Repo Source="C:\Dev\Tfs\C4k.Main" />
		<TfsDefinition Definition="NB_C4000_IM_Dev"/>
	</Project>
	<Project Revision="233014"
			 Name="LabCore"
			 Tag="May 2013"
			 Date="2013-05-05T23:22:20.813Z">
		<Root Source="c:\Dev\Tfs\Comit\Common\Branches\Testing\Stable"
			  IsTest="true" />
		<Root Source="C:\Dev\Tfs\Comit\InCore\Common\Branches\Testing\Stable\Test"
			  IsTest="true" />
		<Root Source="C:\Dev\tfs\comit\labcore\common\branches\testing\Stable\Test"
			  IsTest="true" />
		<Root Source="c:\Dev\Tfs\Comit\LabCore\Common\Dev\Units" />
		<Repo Source="c:\Dev\Tfs\Comit\LabCore\Common\Dev" />
		<Repo Source="c:\Dev\Tfs\Comit\Common\Branches\Testing\Stable" />
		<Repo Source="c:\Dev\Tfs\Comit\InCore\Common\Branches\Testing\Stable" />
		<Repo Source="C:\Dev\tfs\comit\labcore\common\branches\testing\Stable" />
		<TfsDefinition Definition="NB_LabCoreInCore_Dev"/>
	</Project>
	<!--<Project Revision="222587"
		 Name="INCore"
		 Date="2013-05-01T16:13:00Z">
		<Root Source="C:\Dev\tfs\comit\incore\common\dev\Units" />
		<Repo Source="C:\Dev\tfs\comit\incore\common\dev" />
	</Project>-->
</ReportConfig>