[Bb]in
[Oo]bj
packages
/*.suo
*.vspscc
*.pdb
/Data
*.suo
settings.xml
*.txt.bak
*.tmp
*.nupkg
x.sln
TestResult.xml
*.Cache

*.user

*.ide
*.pure
*.log
OpenCover.Profiler
/UpgradeLog.htm
