[Bb]in
[Oo]bj
packages
/UpgradeLog.htm
Libraries
build
artifacts
/*.suo
*.vspscc
*.pdb
/Data
*.suo
settings.xml
*.txt.bak
*.tmp
*.nupkg
x.sln
TestResult.xml
*.Cache
*.user
*.ide
*.pure
*.log
OpenCover.Profiler
Release
/push.ps1
