<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.0.2" targetFramework="net45" />
  <package id="DotNetZip" version="1.9.1.8" targetFramework="net45" />
  <package id="GraphSharp" version="1.1.0.0" targetFramework="net45" />
  <package id="ModernUI.WPF" version="1.0.3" targetFramework="net45" />
  <package id="NHunspell" version="1.1.1" targetFramework="net45" />
  <package id="QuickGraph" version="3.6.61119.7" targetFramework="net45" />
  <package id="Roslyn" version="1.2.20906.2" targetFramework="net45" />
  <package id="Roslyn.Compilers.Common" version="1.2.20906.2" targetFramework="net45" />
  <package id="Roslyn.Compilers.CSharp" version="1.2.20906.2" targetFramework="net45" />
  <package id="Roslyn.Compilers.VisualBasic" version="1.2.20906.2" targetFramework="net45" />
  <package id="Roslyn.Services.Common" version="1.2.20906.2" targetFramework="net45" />
  <package id="Roslyn.Services.CSharp" version="1.2.20906.2" targetFramework="net45" />
  <package id="Roslyn.Services.VisualBasic" version="1.2.20906.2" targetFramework="net45" />
  <package id="WPFExtensions" version="1.0.0" targetFramework="net45" />
  <package id="WPFToolkit" version="3.5.50211.1" targetFramework="net45" />
  <package id="WPFToolkit.DataVisualization" version="3.5.50211.1" targetFramework="net45" />
</packages>